<!-- フッターのテンプレート -->
<nav class="navbar navbar-default">
	<div class="container">
		<span class="footer-copyright">@CopyRight Infratop.inc @made by NORIHIRO WATARU YUJI</span>
			<ul class="nav navbar-nav navbar-right">
                <li><%= link_to "お問い合わせ", new_contact_path %></li>
            </ul>
	</div>
</nav>