
<div class="background">
	<div class="container">
		<div class="row">
			<div class="top-list">
				<h1 class="app-concept">TAKE DELIGHT IN MUSIC</h1>
				<h1 class="app-title">ABARANTI DISK</h1>
				<div class="link-group">
					<div class="link-box">
						<h3><%= link_to "CHECK IT OUT", items_path %></h3>
					</div>
					<div class="link-box">
						<h3><%= link_to "LOG IN", new_user_session_path %></h3>
					</div>
					<div class="link-box">
						<h3><%= link_to "SIGN UP",  new_user_registration_path %></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    <script>
          // 一旦hide()で隠してフェードインさせる
 		 $('.app-concept').hide().fadeIn(5000);
 		 $('.app-title').hide().fadeIn(5000);
    </script>