<h1>TAKE DELIGHT IN MUSIC</h1>
<h3>ABARANTI DISK</h3>

<p><%= link_to "CHECK IT OUT", items_path %></p>
<p><%= link_to "LOG IN", new_user_session_path %></p>
<p><%= link_to "SIGN UP",  new_user_registration_path %></p>