            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title item">ジャンルから探す</h3>
                </div>
                <div class="panel-body">
                    <% @genres.each do |genre| %>
                        <h4 class="item genre"><%= genre.genre %></h4>
                        <br>
                    <% end %>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">レートから探す</h3>
                </div>
                <div class="panel-body">
                    ★★★★★
                </div>
                <div class="panel-body">
                    ★★★★
                </div>
                <div class="panel-body">
                    ★★★
                </div>
                <div class="panel-body">
                    ★★
                </div>
                <div class="panel-body">
                    ★
                </div>
                <div class="panel-body">
                    ★★★★★
                </div>
                <div class="panel-body">
                    ★★★★
                </div>
                <div class="panel-body">
                    ★★★
                </div>
                <div class="panel-body">
                    ★★
                </div>
                <div class="panel-body">
                    ★
                </div>
            </div>