// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.contact-heading{
	text-align:center;
}

.contact{
	/*background-color: #f8f8f8;
	border-color: #e7e7e7;*/
	color: #777;
}

.contact-box{
	color: #777;
}
