// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.box{
	width:100%;
	height:200px;
	border:solid black;
}

#contact-heading{
	text-align:center;
}