// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-list{
	text-align: center;
	padding-top: 160px;
}
.app-concept{
	font-size: 60px;
}
.app-title{
	margin-top: 40px;
}
.link-group{
	margin-top: 80px;
}
