// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-record{
	background-image: url("/images/record.jpeg");
	background-size: cover;
	background-position: center;
	height: 1200px;
}
.top-list{
	text-align: center;
	padding-top: 160px;
}
.app-concept{
	font-size: 60px;
}
.app-title{
	margin-top: 40px;
}
.link-group{
	margin: 205px auto 0px;
}
.link-box{
	width: 200px;
	border: 1px solid #fff;
	margin: 0 auto;
	border-radius: 15px;
}
.link-box:hover{
	width: 250px;
	height: 40px;
	line-height: 40px;
	background-color:rgba( 0, 0, 0, 50%);
}
.top-link{
	color: #fff;
	text-decoration: none;
	text-decoration-line: none;
	font-size: 20px;
}
.login-box{
	margin-top: 20px;
}
.sign-box{
	margin-top: 20px;
}
