// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.from-top{
	padding-top:170px;
}
.sign-up-box{
	width: 600px;
	margin: 0 auto;
	border: solid 1px #000;
	border-radius: 15px;
	padding: 20px;
	background-color:rgba( 80, 80, 80, 50%);
}
.sign-up-left{
	width: 50%;
	display:inline-block;
	float:left;
	text-align:center;
	padding: 20px;
}
.sign-up-left-title{
	margin-top: 75px;
}
.sign-up-left-login{
	margin-top: 150px;
}
.sign-up-left-item{
	margin-top: 50px;
}
.sign-up-right{
	width: 50%;
	display:inline-block;
	float:left;
}
.name-input{
	width: 49%;
}
.max-width-input{
	width: 100%;
}
.button-right{
	float: right;
	margin-top: 20px;
}
.log-in-btn{
	margin-top: 124px;
}
.button-left{
	float: left;
	margin-top: 20px;
}
.sing-up-link{
	color: #000;
}